body{
    font-family: 'Nunito';
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30x;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

#mario-chat{
    max-width: 350px;
    margin: 15px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(253, 117, 117, 0.05);
    border-radius: 2px;
    background: #575ed8;;
}

#chat-window{
    height: 350px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    /* background: #eee; */
    border: 0;
    display: block;
    width: 100%;
    background: #adb1fc;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
    color: white;
}

input:hover {
    background: #8c8fd4;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

button:hover {
    background: #464cb4;
}


footer {
    background-color: #575ed8;
    color: white;
    font-family: 'Segoe UI', 'Verdana', sans-serif;
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align:center;
}